# Python
__pycache__/
*.py[cod]
.venv/
.coverage
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Django
*.log
db.sqlite3
server/media/
server/staticfiles/

# Node
node_modules/
dist/
*.local

# Environment
.env
.env.*

# Editors
.idea/
.vscode/
*.swp
*.swo
.#*
