<html>
<head>
    <meta charset='utf-8' />
    <title>Toponymia</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="icon" href="{% static "app_tpnm/favicon.ico" %}">
</script>
    <script>
        $(document).ready(function() {
            $('.inlang-multiselect').select2();
            $('.fromlang-multiselect').select2();
            $('.nn-inlang-multiselect').select2();
            $('.nn-fromlang-multiselect').select2();
            $('.ne-inlang-multiselect').select2();
            $('.ne-fromlang-multiselect').select2();
        });
</script>
    </script>

    {% load static %}

</head>

<body>
    <!-- Mapbox CDN -->
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.css' type='text/css' />
    <div id="page-wrapper">
        <div id="header">
            <img src="{% static "app_tpnm/tpnmlogo.png" %}" id="header-logo" alt="Toponymia">
            <!-- <a href="#" class="header-btn">Language</a> -->
            <a href="#" class="header-btn" id="random-btn">Random</a>
            <a href="{% url 'app_tpnm:about' %}" class="header-btn">About</a>
            {% if user.is_authenticated %}
                <a href="{% url 'app_tpnm:logout' %}" class="header-btn">Logout</a>
            {% else %}
                <a href="{% url 'app_tpnm:login' %}" class="header-btn">Login</a>
            {% endif %}
        </div>
        <div id='content-wrapper'>
            <div id="sidebar">
                <div id="tabbar">
                    <button class="tablink" id="article-tab">Article</button>
                    <button class="tablink" id="talk-tab">Talk</button>
                    {% if user.is_authenticated %}
                    <button class="tablink" id="edit-tab">Edit</button>
                    {% endif %}
                    <button class="tablink" id="history-tab">History</button>
                    <button class="tablink" id="close-tab">Close</button>
                </div>
                <div id="app">
                    <div class="sidebar-content" id="article">
                        <div class="article-title"></div>
                        <div class="article-coordinates"></div>
                        <hr>
                            <div v-for="name in names">
                                <div class="article-box">
                                    <div id="article-div1">
                                        <div><h2 id="article-name">[[ name.name ]]</h2></div>
                                        <div id="article-endonym">Endonym: [[ name.edits[0].endonym ]]</div>
                                    </div>
                                    <div id="article-div2">
                                        <div><h4 id="article-fromLanguage"> Source language(s): [[ name.edits[0].from_language ]]</div>
                                    </div>
                                    <div id="article-div3">
                                        <div><h5 id="article-inLanguage">Used in: [[ name.edits[0].in_language ]]</h5></div>
                                    </div>
                                    <div id="article-div4">
                                        <p>Etymology:</p>
                                        <div id="article-content"><pre>[[ name.edits[0].content ]]</pre></div>
                                    </div>
                                    <div id="article-div5">
                                        <div><p id="article-username"></p>Last edit by: [[ name.edits[0].username ]]</div>
                                        <div><p id="article-datetime"></p>[[ name.edits[0].created ]]</div>
                                    </div>
                                </div>
                            </div>
                            <div class="spacer-div"></div>
                    </div>
                    <div class="sidebar-content" id="talk">
                        <div class="article-title"></div>
                        <div class="article-coordinates"></div>
                        <hr>
                    </div>
                    <div class="sidebar-content" id="edit">
                        <div class="article-title"></div>
                        <div class="article-coordinates"></div>
                        <hr>
                        <div id="new-article">
                            <form action="/save_article/" method="post">
                                {% csrf_token %}
                                <div class="na-div">
                                    <label for="na-name">Toponym:</label>
                                    <input type="text" id="na-name" name="na-name" value="undefined" required>
                                </div>
                                <div class="na-div">
                                    <label for="inlang-multiselect">Toponym is used in which language(s):</label>
                                    <!-- <select class="inlang-multiselect" name="inLanguage" required> -->
                                    <select class="inlang-multiselect" id="inlang-multiselect" name="inlang-multiselect" multiple="multiple" required>
                                        {% for language in languages %}
                                        <option value="{{ language.name }}">{{ language.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="na-div">
                                    <label for="fromlang-multiselect">Toponym is derived from which language(s):</label>
                                    <select class="fromlang-multiselect" id="fromlang-multiselect" name="fromlang-multiselect" multiple="multiple" required>
                                        {% for language in languages %}
                                        <option value="{{ language.name }}">{{ language.name }}</option>
                                        {% endfor %}
                                    </select><br>
                                    <label for="na-endonymDropdown">Endonym: </label>
                                    <select class="na-endonymDropdown" id="na-endonymDropdown" name="endonym">
                                        <option value="True">True</option>
                                        <option value="False">False</option>
                                    </select><br>
                                    <!-- span id="endonym-question"style='font-size:10px;'>&#10067;</span-->
                                    <label for="na-content">Etymology:</label>
                                    <textarea id="na-content" name="na-content" rows="8" cols="80"></textarea>
                                </div>
                                <div class="na-div">
                                    <label for="na-reference">Reference(s):</label>
                                    <input type="url" id="na-reference" class="na-reference" name="na-reference" placeholder="Enter URL">
                                </div>
                                <div class="na-div" id="na-button-div">
                                    <button type="submit">Submit</button>
                                </div>
                                <div>
                                    <input type="hidden" id="na-title" name="na-title" value="undefined">
                                    <input type="hidden" id="na-coord" name="na-coord" value="undefined">
                                    <input type="hidden" id="na-long" name="na-long" value="undefined">
                                    <input type="hidden" id="na-lat" name="na-lat" value="undefined">
                                    <input type="hidden" id="na-tpnm-id" name="na-tpnm-id" value="undefined">
                                    <input type="hidden" id="na-mapbox-id" name="na-mapbox-id" value="undefined">
                                    <input type="hidden" id="na-place-class" name="na-place-class" value="undefined">
                                    <input type="hidden" id="na-place-type" name="na-place-type" value="undefined">
                                    <input type="hidden" id="na-geo-type" name="na-geo-type" value="undefined">
                                    <input type="hidden" id="na-iso-3166-1" name="na-iso-3166-1" value="undefined">
                                    <input type="hidden" id="na-iso-3166-2" name="na-iso-3166-2" value="undefined">
                                    <input type="hidden" id="na-geo-type" name="na-geo-type" value="undefined">
                                </div>
                            </form>
                        </div>
                        <div id="dropdown">
                                <label for="ne-dropdown">Toponym: </label>
                                <div class="ne-dropdown">
                                    <select v-model="selected" v-on:change="addEdit(selected)">
                                        <option disabled value="">Select a toponym to edit</option>
                                        <option v-for="name in names" v-bind:key="name.id" >[[ name.name ]]</option>
                                    </select>
                                </div>
                                <span>OR</span>
                                <button id="add-name-btn" type="button" name="button" onclick="addName()">Add New</button>
                        </div>
                        <div id="new-edit">
                            <form action="/save_edit/" method="post">
                                {% csrf_token %}
                                <div class="ne-div">
                                    <label for="ne-inlang-multiselect">Toponym is used in which language(s):</label>
                                    <!-- <select class="inlang-multiselect" name="inLanguage" required> -->
                                    <select class="ne-inlang-multiselect" id="ne-inlang-multiselect" name="ne-inlang-multiselect" multiple="multiple" required>
                                        {% for language in languages %}
                                        <option value="{{ language.name }}">{{ language.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="ne-div">
                                    <label for="ne-fromlang-multiselect">Toponym is derived from which language(s)?:</label>
                                    <select class="ne-fromlang-multiselect" id="ne-fromlang-multiselect" name="ne-fromlang-multiselect" multiple="multiple" required>
                                        {% for language in languages %}
                                        <option value="{{ language.name }}">{{ language.name }}</option>
                                        {% endfor %}
                                    </select><br>
                                    <label for="ne-endonymDropdown">Endonym: </label>
                                    <select class="ne-endonymDropdown" id="ne-endonymDropdown" name="ne-endonym">
                                        <option value="True">True</option>
                                        <option value="False">False</option>
                                    </select><br>
                                    <label for="ne-content">Etymology:</label><br>
                                    <textarea id="ne-content" name="ne-content" rows="8" cols="80"></textarea>
                                </div>
                                <div class="ne-div">
                                    <label for="ne-reference">Reference(s):</label>
                                    <input type="url" class="ne-reference" name="ne-reference" placeholder="Enter URL">
                                </div>
                                <div class="ne-div" id="ne-button-div">
                                    <button type="submit">Submit</button>
                                </div>
                                <div>
                                    <input type="hidden" id="ne-tpnm-id" name="ne-tpnm-id" value="undefined">
                                    <input type="hidden" id="ne-article-name-id" name="ne-article-name-id" value="undefined">
                                    <input type="hidden" id="ne-name" name="ne-name">
                                </div>
                            </form>
                        <div class="spacer-div"></div>
                        </div>
                        <div id="new-name">
                            <form action="/save_name/" method="post">
                                {% csrf_token %}
                                <div class="nn-div">
                                    <label for="na-name">Toponym:</label>
                                    <input type="text" id="nn-name" name="nn-name" required>
                                </div>
                                <div class="nn-div">
                                    <label for="nn-inlang-multiselect">Which language(s) use this (exact) toponym?:</label>
                                    <!-- <select class="inlang-multiselect" name="inLanguage" required> -->
                                    <select class="nn-inlang-multiselect" id="nn-inlang-multiselect" name="nn-inlang-multiselect" multiple="multiple" required>
                                        {% for language in languages %}
                                        <option value="{{ language.name }}">{{ language.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="nn-div">
                                    <label for="nn-fromlang-multiselect">Toponym is derived from which language(s)?:</label>
                                    <select class="nn-fromlang-multiselect" id="nn-fromlang-multiselect" name="nn-fromlang-multiselect" multiple="multiple" required>
                                        {% for language in languages %}
                                        <option value="{{ language.name }}">{{ language.name }}</option>
                                        {% endfor %}
                                    </select><br>
                                    <label for="nn-endonymDropdown">Endonym: </label>
                                    <select class="nn-endonymDropdown" id="nn-endonymDropdown" name="nn-endonym">
                                        <option value="True">True</option>
                                        <option value="False">False</option>
                                    </select><br>
                                    <label for="nn-content">Etymology:</label><br>
                                    <textarea id="nn-content" name="nn-content" rows="8" cols="80"></textarea>
                                </div>
                                <div class="nn-div">
                                    <label for="nn-reference">Reference(s):</label>
                                    <input type="url" id="nn-reference" name="nn-reference" placeholder="Enter URL">
                                </div>
                                <div class="nn-div" id="nn-button-div">
                                    <button type="submit">Submit</button>
                                </div>
                                <div>
                                    <input type="hidden" id="nn-article-id" name="nn-article-id" value="undefined">
                                    <input type="hidden" id="nn-tpnm-id" name="nn-tpnm-id" value="undefined">
                                </div>
                            </form>
                        <div class="spacer-div"></div>
                        </div>
                    </div>
                    <div class="sidebar-content" id="history">
                        <div class="article-title"></div>
                        <div class="article-coordinates"></div>
                        <hr>
                        <div v-for="name in names">
                            <div class="history-name">
                                <div><h2 class="article-name">Edits for: [[ name.name ]]</h2></div>
                                <div v-for="edit in name.edits">
                                    <div class="article-box">
                                        <div class="history-div1">
                                            <div><h3 class="history-name">[[ name.name ]]</h3></div>
                                        </div>
                                        <div class="history-div2">
                                            <div><p class="history-username"></p>Submitted by: [[ edit.username ]]</div>
                                            <div><p class="history-datetime"></p>[[ edit.created ]]</div>
                                        </div>
                                        <div class="history-div3">
                                            <div class="history-content"><pre>[[ edit.content ]]</pre></div>
                                        </div>
                                        <div class="history-div4">
                                            <div><p class="history-fromLanguage"> Source language(s): [[ edit.from_language ]]</p></div>
                                            <div><p class="history-inLanguage">Used in: [[ edit.in_language ]]</p></div>
                                        </div>
                                        <div class="history-div5">
                                            <div class="history-endonym">Endonym: [[ edit.endonym ]]</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spacer-div"></div>
                    </div>
                </div>
            </div>
            <div id='map'>
                {% if user.is_authenticated %}
                <button id="marker-toggle" type="button" name="marker-toggle">Add Marker</button>
                {% endif %}
            </div>
            <pre id='features'></pre>
        </div>
    </div>
    <!-- Axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        // This is mapbox's public demo key, only using while testing
        mapboxgl.accessToken = 'pk.eyJ1IjoieWF4eDByIiwiYSI6ImNqdW9rYXd1ODBjbjg0NHA3emp4ZDZiZWgifQ.0KqNiYI2LlrzR1lNSFJ6IA';
        // mapboxgl.accessToken = {
        // {
        // MAP_KEY
        // }
        // }

        // Add map
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [2, 20],
            zoom: 1.5
        });
        // Add geocoder (search bar)
        map.addControl(new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl
        }));
        map.addControl(new mapboxgl.NavigationControl());

        var randomBtn = document.getElementById('random-btn');
        var sidebar = document.getElementById('sidebar');
        var articleTab = document.getElementById("article-tab");
        // var articleName = document.getElementById("article-name");
        var articleContent = document.getElementById("article-content");
        var talkTab = document.getElementById("talk-tab");
        var talkContent = document.getElementById("talk-content");
        {% if user.is_authenticated %}
        var editTab = document.getElementById("edit-tab");
        var editTpnmIdField = document.getElementById("nn-tpnm-id");
        {% endif %}
        var historyTab = document.getElementById("history-tab");
        var historyContent = document.getElementById("history-content");
        var closeTab = document.getElementById("close-tab");
        var markerToggle = document.getElementById("marker-toggle");
        var newArticleDiv = document.getElementById("new-article");
        var articleTitle = document.getElementsByClassName("article-title");
        var articleCoordinates = document.getElementsByClassName("article-coordinates");
        var nameField = document.getElementById("na-name");
        var titleField = document.getElementById("na-title");
        var coordField = document.getElementById("na-coord");
        var longField = document.getElementById("na-long");
        var latField = document.getElementById("na-lat");
        var tpnmIdField = document.getElementById("na-tpnm-id");
        var idField = document.getElementById("na-id");
        var mapboxIdField = document.getElementById("na-mapbox-id");
        var placeClassField = document.getElementById("na-place-class");
        var placeTypeField = document.getElementById("na-place-type");
        var geoTypeField = document.getElementById("na-geo-type");
        var iso_3166_1Field = document.getElementById("na-iso-3166-1");
        var iso_3166_2Field = document.getElementById("na-iso-3166-2");
        {% if user.is_authenticated %}
            var djangoUsername = "{{ user.get_username }}"
        {% endif %}

        // Opens sidebar
        function openSidebar() {
            // console.log('openSidebar')
            windowWidth = window.outerWidth;
            sidebar.style.width = "800px";
            sidebar.style.maxWidth = "windowWidth";
            document.getElementById("map").style.marginLeft = "20%";
        }

        // Closes sidebar

        function closeSidebar() {
            // console.log('closeSidebar')
            document.getElementById("sidebar").style.width = "0";
            document.getElementById("map").style.marginLeft = "0";
            // sidebar.style.width = "0";
            // map.style.marginLeft = "0";
        }

        // Switches toggle button on
        function markerToggleOn() {
            markerToggle.innerHTML = 'Cancel';
            markerToggle.style.borderStyle = 'inset';
            markerToggle.style.backgroundColor = '#f99a89';
            addMarkerMode = true;
            return addMarkerMode;
        }

        // Switches toggle button off
        function markerToggleOff() {
            markerToggle.innerHTML = 'Add Marker';
            markerToggle.style.borderStyle = 'outset';
            markerToggle.style.backgroundColor = 'lightgray';
            addMarkerMode = false;
            return addMarkerMode;
        }

        function cancelMarker(marker) {
            marker.remove();
            closeSidebar();
            // console.log('cancelMarker')
        }

        var listentime = function() {
            openTab(this.innerText)
        }

        function addTabListeners() {
            // console.log('addTabListeners')
            document.getElementById("article-tab").addEventListener("click", listentime);
            document.getElementById("talk-tab").addEventListener("click", listentime);
            {% if user.is_authenticated %}
            document.getElementById("edit-tab").addEventListener("click", listentime);
            {% endif %}
            document.getElementById("history-tab").addEventListener("click", listentime);
        }

        function removeTabListeners() {
            // console.log('removeTabListeners')

            document.getElementById("article-tab").removeEventListener("click", listentime);
            document.getElementById("talk-tab").removeEventListener("click", listentime);
            {% if user.is_authenticated %}
            document.getElementById("edit-tab").removeEventListener("click", listentime);
            {% endif %}
            document.getElementById("history-tab").removeEventListener("click", listentime);
        }

        function openTab(thisTab) {
            // console.log('openTab')
            // Resets tabs and allows click to navigate. Only really needed within openArticle()
            tablinks = document.getElementsByClassName("tablink");
            for (let i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = '#555';
                tablinks[i].style.color = 'white';
            }
            let activeTab = document.getElementById(thisTab.toLowerCase() + "-tab");
            activeTab.style.backgroundColor = 'white';
            activeTab.style.color = 'black';
            // console.log(activeTab.id)
            sidebarContent = document.getElementsByClassName("sidebar-content");
            for (let i = 0; i < sidebarContent.length; i++) {
                sidebarContent[i].style.display = "none";
                // sidebarContent[i].style.visibility = 'hidden';
            }
            let activeContent = document.getElementById(thisTab.toLowerCase());
            // activeContent.style.visibility = 'visible';
            activeContent.style.display = 'block';
            activeContent.style.height = '100%';
            if (document.getElementById("edit").style.display == 'block') {
                document.getElementById("new-article").style.display = 'none';
                document.getElementById("new-name").style.display = 'none';
                document.getElementById("dropdown").style.display = 'flex';
                document.getElementById("new-edit").style.display = 'none';
            }
        }

        function formatDateTime(DTinput) {
            let date = new Date(DTinput);
            let year = date.getUTCFullYear();
            let month = date.getUTCMonth()+1;
            let day = date.getUTCDate();
            let hours = date.getUTCHours();
            let minutes = date.getUTCMinutes();
            let seconds = date.getUTCSeconds();
            UTCDateTime = year+'/'+month+'/'+day+' '+hours+':'+minutes+':'+seconds+' UTC'
            return UTCDateTime
        }

        {% if user.is_authenticated %}
        function newArticlePoint(title, coordinates, mapboxId) {
            removeTabListeners();
            articleTab.style.backgroundColor = '#555';
            articleTab.style.color = '#737070';
            talkTab.style.backgroundColor = '#555';
            talkTab.style.color = '#737070';
            historyTab.style.backgroundColor = '#555';
            historyTab.style.color = '#737070';
            let newArticleTab = document.getElementById("edit-tab");
            newArticleTab.style.backgroundColor = 'white';
            newArticleTab.style.color = 'black';
            newArticleTab.innerText = 'New';
            closeTab.innerText = 'Cancel';
            closeTab.style.color = 'white';
            document.getElementById("new-article").style.display = 'block';
            document.getElementById("new-name").style.display = 'none';
            document.getElementById("new-edit").style.display = 'none';
            document.getElementById("dropdown").style.display = 'flex';
            sidebarContent = document.getElementsByClassName("sidebar-content");
            for (let i = 0; i < sidebarContent.length; i++) {
                sidebarContent[i].style.display = "none";
                // sidebarContent[i].style.visibility = 'hidden';
            }
            let activeContent = document.getElementById("edit");
            // activeContent.style.visibility = 'visible';
            activeContent.style.display = 'block';
            activeContent.style.height = '100%';
            for (let i = 0; i < articleTitle.length; i++) {
                articleTitle[i].innerText = title;
            }
            for (let i = 0; i < articleCoordinates.length; i++) {
                articleCoordinates[i].innerText = '(' + coordinates.toString() + ')';
            }

            coordField.value = coordinates;
            $('.inlang-multiselect').val(null).trigger('change');
            $('.fromlang-multiselect').val(null).trigger('change');
            document.getElementById("na-content").value = '';
            document.getElementById("na-reference").value = '';
            openSidebar();
            markerToggleOff();
        }

        function addName(tpnm_id) {
            // console.log('addName')
            document.getElementById("new-article").style.display = 'none';
            document.getElementById("new-name").style.display = 'block';
            document.getElementById("dropdown").style.display = 'none';
            document.getElementById("new-edit").style.display = 'none';
            document.getElementById("nn-name").value = '';
            document.getElementById("nn-content").value = '';
            document.getElementById("nn-reference").value = '';
            document.getElementById("nn-tpnm-id").value = 'tpnm_id';
            $('.nn-inlang-multiselect').val(null).trigger('change');
            $('.nn-fromlang-multiselect').val(null).trigger('change');
            // let data = {
            //     tpnm_id: tpnm_id
            // }
            // let config = {
            //     headers: {
            //         'X-CSRFToken': '{{ csrf_token }}'
            //     }
            // }
            // axios.post('{% url 'app_tpnm:get_article' %}', data, config).then(function(response) {
            // });
        }

        function addEdit(article_id) {
            document.getElementById("new-article").style.display = 'none';
            document.getElementById("new-name").style.display = 'none';
            document.getElementById("dropdown").style.display = 'flex';
            document.getElementById("new-edit").style.display = 'block';
            // let data = {
            //     tpnm_id: tpnm_id
            // }
            // let config = {
            //     headers: {
            //         'X-CSRFToken': '{{ csrf_token }}'
            //     }
            // }
            // axios.post('{% url 'app_tpnm:get_article' %}', data, config).then(function(response) {
            //     let inLanguage = jsondata['properties'][0]['toponyms'][0]['edits'][0]['in_language']
            //     let fromLanguage = jsondata['properties'][0]['toponyms'][0]['edits'][0]['from_language']
            //     let endonymValue = jsondata['properties'][0]['toponyms'][0]['edits'][0]['endonym']
            //     $('.ne-inlang-multiselect').val(inLanguage).trigger('change');
            //     $('.ne-fromlang-multiselect').val(fromLanguage).trigger('change');
            //     document.getElementById("ne-content").value = content;
            //     if (endonymValue == true){
            //         document.getElementById("ne-endonymDropdown").value = "True";
            //     } else {
            //         document.getElementById("ne-endonymDropdown").value = "False";
            //     }
            // });
        }
        {% endif %}

        function openArticle(tpnm_id) {
            addTabListeners();
            // document.getElementById('close-tab').onclick = closeSidebar();
            closeTab.onclick = closeSidebar;
            {% if user.is_authenticated %}
            document.getElementById("new-article").style.display = 'none';
            document.getElementById("new-name").style.display = 'none';
            document.getElementById("dropdown").style.display = 'flex';
            document.getElementById("new-edit").style.display = 'none';
            document.getElementById("add-name-btn").addEventListener("click", addName(tpnm_id));
            document.getElementById("close-tab").innerText = "Close"
            {% endif %}
            openTab("article");

            let data = {
                tpnm_id: tpnm_id
            }
            let config = {
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            }
            axios.post('{% url 'app_tpnm:get_article' %}', data, config).then(function(response) {
                // Parse data from Axios response
                var jsondata = response.data
                // console.log(jsondata)
                article_id = jsondata['properties'][0]['id']
                tpnmId = jsondata['properties'][0]['tpnm_id']
                title = jsondata['properties'][0]['title']
                coordinates = jsondata['properties'][0]['coordinates']
                content = jsondata['properties'][0]['toponyms'][0]['edits'][0]['content']
                endonymValue = jsondata['properties'][0]['toponyms'][0]['edits'][0]['endonym']
                // editCreated = jsondata['properties'][0]['toponyms'][0]['edits'][0]['created']
                // editDateTime = formatDateTime(editCreated)
                // editUsername = jsondata['properties'][0]['toponyms'][0]['edits'][0]['username']
                name = jsondata['properties'][0]['toponyms'][0]['name']
                let activeContent = document.getElementById("article");
                let inLanguage = jsondata['properties'][0]['toponyms'][0]['edits'][0]['in_language']
                let fromLanguage = jsondata['properties'][0]['toponyms'][0]['edits'][0]['from_language']
                // activeContent.style.visibility = 'visible';
                activeContent.style.display = 'block';
                activeContent.style.height = '100%';
                // Show title and coordinates on page
                for (let i = 0; i < articleTitle.length; i++) {
                    articleTitle[i].innerText = title;
                }
                for (let i = 0; i < articleCoordinates.length; i++) {
                    articleCoordinates[i].innerText = '(' + coordinates.toString() + ')';
                }
                coordField.value = coordinates;
                // articleName.innerText = name;
                // articleContent.innerText = content;
                // idField.value = id;
                // editTpnmIdField.value = tpnmId;
                // document.getElementById("article-inLanguage").innerText = "Used in: "+inLanguage;
                // document.getElementById("article-fromLanguage").innerText = "Source: "+fromLanguage;
                // document.getElementById("article-username").innerText = "Last edit by: "+editUsername;
                // document.getElementById("article-datetime").innerText = editDateTime;
                // if (endonymValue == true){
                //     document.getElementById("article-endonym").innerHTML = "<p>Endonym</p>"
                // {% if user.is_authenticated %}
                //     document.getElementById("edit-endonymDropdown").value = "True";
                // {% endif %}
                // } else {
                //     document.getElementById("article-endonym").innerHTML = "<p>Exonym</p>"
                // {% if user.is_authenticated %}
                //     document.getElementById("edit-endonymDropdown").value = "False";
                // {% endif %}
                // }
                app.names = jsondata['properties'][0]['toponyms']
                {% if user.is_authenticated %}
                // Set all edit field values
                document.getElementById("edit-tab").innerText = "Edit"
                document.getElementById("nn-article-id").value = article_id;
                document.getElementById("nn-tpnm-id").value = tpnmId;
                document.getElementById("ne-tpnm-id").value = tpnmId;
                document.getElementById("ne-content").value = content;
                document.getElementById("add-name-btn").addEventListener("click", addName(tpnm_id));
                {% endif %}
            });
            openSidebar();
        }

        var app = new Vue({
            el: '#app',
            data: {
                names: [],
                selected: ''
            },
            delimiters: ["[[","]]"]
        });

        // Toggle button change on click
        var addMarkerMode = false;
        {% if user.is_authenticated %}
        markerToggle.addEventListener('click', function() {
            if (markerToggle.innerHTML == 'Add Marker') {
                markerToggleOn()
            } else {
                markerToggleOff()
            }
        });
        {% endif %}

        // Set marker size
        var markerHeight = 50,
            markerRadius = 10,
            linearOffset = 25;

        randomBtn.addEventListener('click', function() {
            var randomArticle = articleIdList[Math.floor(Math.random()*articleIdList.length)];
            openArticle(randomArticle)
        });

        // Show the json in side window
        // TODO: this will be deleted eventually, get definitions out if needed
        map.on('click', function(e) {
            var features = map.queryRenderedFeatures(e.point);
            document.getElementById('features').innerHTML = JSON.stringify(features, null, 2);
            var jsonfeatures = map.queryRenderedFeatures(e.point);
        });

        // Add a marker when map is clicked
        {% if user.is_authenticated %}
        map.on('click', function(e) {
            if (addMarkerMode == true) {
                var markerDiv = document.createElement('div');
                markerDiv.className = 'marker';
                var marker = new mapboxgl.Marker(markerDiv, {
                    offset: [9, -18]
                })
                var jsonfeatures = map.queryRenderedFeatures(e.point);
                geoType = jsonfeatures[0]["geometry"]["type"]
                coordinates = jsonfeatures[0]["geometry"]["coordinates"]
                longitude = coordinates[0]
                latitude = coordinates[1]
                nameEn = jsonfeatures[0]["properties"]["name_en"]
                name = jsonfeatures[0]["properties"]["name"]
                placeType = jsonfeatures[0]["properties"]["type"]
                placeClass = jsonfeatures[0]["properties"]["class"]
                mapboxId = jsonfeatures[0]["id"]
                iso_3166_1 = jsonfeatures[0]["properties"]["iso_3166_1"]
                iso_3166_2 = jsonfeatures[0]["properties"]["iso_3166_2"]
                // mapboxIdField.value = mapboxId;
                // placeClassField.value = placeClass;
                // placeTypeField.value = placeType;
                // geoTypeField.value = geoType;
                // longField.value = longitude;
                // console.log(longitude)
                document.getElementById("na-coord").value = coordinates;
                document.getElementById("na-long").value = longitude;
                document.getElementById("na-lat").value = latitude;
                document.getElementById("na-mapbox-id").value = mapboxId;
                document.getElementById("na-place-class").value = placeClass;
                document.getElementById("na-place-type").value = placeType;
                document.getElementById("na-geo-type").value = geoType;
                document.getElementById("na-iso-3166-1").value = iso_3166_1;
                document.getElementById("na-iso-3166-2").value = iso_3166_2;
                // latField.value = latitude;
                // iso_3166_1Field.value = iso_3166_1;
                // iso_3166_2Field.value = iso_3166_2;
                var tpnmId = Math.random().toString(36).substring(2) + (new Date()).getTime().toString(36) + mapboxId.toString();
                document.getElementById("na-tpnm-id").value = tpnmId;
                if ((typeof nameEn != "undefined" && nameEn) || (typeof name != "undefined" && name)) {
                    if (typeof nameEn != "undefined") {
                        if (nameEn != name) {
                            var title = nameEn + ' (' + name + ')'
                            document.getElementById("na-title").value = title
                            document.getElementById("na-name").value = nameEn
                        } else {
                            var title = nameEn
                            document.getElementById("na-title").value = title
                            document.getElementById("na-name").value = nameEn
                        }
                    } else {
                        var title = name
                        document.getElementById("na-title").value = title
                        document.getElementById("na-name").value = name
                    }
                }
                // var popup = new mapboxgl.Popup({
                //         offset: 25,
                //         closeButton: false,
                //     })
                //     .setText(title)
                // if (coordinates.length == 2) {
                var named_id = title +' ('+ mapboxId.toString()+')'

                if (typeof title != undefined) {
                    if (jsonfeatures[0]["geometry"]["type"] == "Point") {
                        articleTitle.innerText = title;
                        newArticlePoint(title, coordinates)
                        marker.setLngLat(coordinates)
                        // .setPopup(popup)
                        marker.addTo(map);
                        map.flyTo({
                            center: coordinates
                        });
                        markerDiv.setAttribute('id', tpnmId);
                        var currentMarker = document.getElementById(tpnmId);
                        var tooltip = document.createElement('span');
                        tooltip.className = 'tooltip';
                        tooltip.innerText = title;
                        currentMarker.appendChild(tooltip);
                        document.getElementById("close-tab").addEventListener("click", function() {
                            cancelMarker(marker)
                        });


                    } else if (jsonfeatures[0]["geometry"]["type"] == "LineString") {
                        // console.log('LineString')
                        // marker.setLngLat(coordinates[Math.floor((coordinates.length) / 2)]) marker.addTo(map); map.flyTo({
                        //     center: coordinates[Math.floor((coordinates.length) / 2)]
                        // });
                        // markerToggleOff();
                        // openSidebar()
                    } else if (jsonfeatures[0]["geometry"]["type"] == "MultiLineString") {
                        // console.log('MultiLineString')
                        // marker.setLngLat(coordinates[Math.floor((coordinates.length) / 2)])
                        // marker.addTo(map);
                        // markerToggleOff();
                        // openSidebar()
                    } else if (jsonfeatures[0]["geometry"]["type"] == "MultiPolygon") {
                        // console.log('MultiPolygon')
                    }
                }
            }
        });
        {% endif %}

        // Populate map with markers on load
        var geojson = {
            type: 'FeatureCollection',
            features: [{% for article in articles %}
                {
                    // type: '{{ article.place_type }}',
                    geometry: {
                        // type: '{{ article.geo_type }}',
                        coordinates: [{{ article.longitude }}, {{ article.latitude }}]
                    },
                    properties: {
                        // class: '{{ article.place_class }}',
                        title: '{{ article.title }}',
                        tpnm_id: '{{ article.tpnm_id }}',
                        // named_id: '{{ article.named_id }}'
                    }
                },
            {% endfor %} ]
            };
        // Get list of available articles, for random choice option
        var articleIdList = []
        {% for article in articles %}
        articleIdList.push('{{ article.tpnm_id }}')
        {% endfor %}
        geojson.features.forEach(function(marker) {
            var markerDiv = document.createElement('div');
            markerDiv.className = 'marker';
            new mapboxgl.Marker(markerDiv, {
                    offset: [8, -18]
                })
                .setLngLat(marker.geometry.coordinates)
                .addTo(map);
            var currentMarkerId = marker.properties.tpnm_id
            markerDiv.setAttribute('id', currentMarkerId);
            var currentMarker = document.getElementById(currentMarkerId);
            var tooltip = document.createElement('span');
            tooltip.className = 'tooltip';
            tooltip.innerText = marker.properties.title;
            currentMarker.appendChild(tooltip);

            currentMarker.addEventListener('click', function() {
                openArticle(currentMarkerId)
            });
        });

    </script>
</body>

</html>
