<html>
    <head>
    <meta charset='utf-8' />
    <title>Toponymia</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_tpnm/css/main.css' %}">
    
    <!-- External Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
    <!-- Custom Scripts -->
    <script src="{% static 'app_tpnm/js/initSelect.js' %}"></script>
    
    <link rel="icon" href="{% static "app_tpnm/favicon.ico" %}">
</head>

<body>
    <!-- Mapbox CDN -->
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.css' type='text/css' />
    <div id="page-wrapper">
        <div id="header">
            <img src="{% static "app_tpnm/img/tpnmlogo.png" %}" id="header-logo" alt="Toponymia">
            <!-- <a href="#" class="header-btn">Language</a> -->
            <a href="#" class="header-btn" id="random-btn">Random</a>
            <a href="{% url 'app_tpnm:about' %}" class="header-btn">About</a>
            {% if user.is_authenticated %}
                <a href="{% url 'app_tpnm:logout' %}" class="header-btn">Logout</a>
            {% else %}
                <a href="{% url 'app_tpnm:login' %}" class="header-btn">Login</a>
            {% endif %}
        </div>
        <div id='content-wrapper'>
            <div id="sidebar">
                <div id="tabbar">
                    <button class="tablink" id="article-tab">Article</button>
                    <button class="tablink" id="talk-tab">Talk</button>
                    {% if user.is_authenticated %}
                    <button class="tablink" id="edit-tab">Edit</button>
                    {% endif %}
                    <button class="tablink" id="history-tab">History</button>
                    <button class="tablink" id="close-tab">Close</button>
                </div>
                <div id="app">
                    <div class="sidebar-content" id="article">
                        <div class="article-title"></div>
                        <div class="article-coordinates"></div>
                        <hr>
                            <div v-for="name in names">
                                <div class="article-box">
                                    <div id="article-div1">
                                        <div><h2 id="article-name">[[ name.name ]]</h2></div>
                                        <div id="article-endonym">Endonym: [[ name.edits[0].endonym ]]</div>
                                    </div>
                                    <div id="article-div2">
                                        <div><h4 id="article-fromLanguage"> Source language(s): [[ name.edits[0].from_language ]]</div>
                                    </div>
                                    <div id="article-div3">
                                        <div><h5 id="article-inLanguage">Used in: [[ name.edits[0].in_language ]]</h5></div>
                                    </div>
                                    <div id="article-div4">
                                        <p>Etymology:</p>
                                        <div id="article-content"><pre>[[ name.edits[0].content ]]</pre></div>
                                    </div>
                                    <div id="article-div5">
                                        <div><p id="article-username"></p>Last edit by: [[ name.edits[0].username ]]</div>
                                        <div><p id="article-datetime"></p>[[ name.edits[0].created ]]</div>
                                    </div>
                                </div>
                            </div>
                            <div class="spacer-div"></div>
                    </div>
                    <div class="sidebar-content" id="talk">
                        <div class="article-title"></div>
                        <div class="article-coordinates"></div>
                        <hr>
                    </div>
                    <div class="sidebar-content" id="edit">
                        <div class="article-title"></div>
                        <div class="article-coordinates"></div>
                        <hr>
                        <div id="new-article">
                            <form action="/save_article/" method="post">
                                {% csrf_token %}
                                <div class="na-div">
                                    <label for="na-name">Toponym:</label>
                                    <input type="text" id="na-name" name="na-name" value="undefined" required>
                                </div>
                                <div class="na-div">
                                    <label for="inlang-multiselect">Toponym is used in which language(s):</label>
                                    <!-- <select class="inlang-multiselect" name="inLanguage" required> -->
                                    <select class="inlang-multiselect" id="inlang-multiselect" name="inlang-multiselect" multiple="multiple" required>
                                        {% for language in languages %}
                                        <option value="{{ language.name }}">{{ language.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="na-div">
                                    <label for="fromlang-multiselect">Toponym is derived from which language(s):</label>
                                    <select class="fromlang-multiselect" id="fromlang-multiselect" name="fromlang-multiselect" multiple="multiple" required>
                                        {% for language in languages %}
                                        <option value="{{ language.name }}">{{ language.name }}</option>
                                        {% endfor %}
                                    </select><br>
                                    <label for="na-endonymDropdown">Endonym: </label>
                                    <select class="na-endonymDropdown" id="na-endonymDropdown" name="endonym">
                                        <option value="True">True</option>
                                        <option value="False">False</option>
                                    </select><br>
                                    <!-- span id="endonym-question"style='font-size:10px;'>&#10067;</span-->
                                    <label for="na-content">Etymology:</label>
                                    <textarea id="na-content" name="na-content" rows="8" cols="80"></textarea>
                                </div>
                                <div class="na-div">
                                    <label for="na-reference">Reference(s):</label>
                                    <input type="url" id="na-reference" class="na-reference" name="na-reference" placeholder="Enter URL">
                                </div>
                                <div class="na-div" id="na-button-div">
                                    <button type="submit">Submit</button>
                                </div>
                                <div>
                                    <input type="hidden" id="na-title" name="na-title" value="undefined">
                                    <input type="hidden" id="na-coord" name="na-coord" value="undefined">
                                    <input type="hidden" id="na-long" name="na-long" value="undefined">
                                    <input type="hidden" id="na-lat" name="na-lat" value="undefined">
                                    <input type="hidden" id="na-tpnm-id" name="na-tpnm-id" value="undefined">
                                    <input type="hidden" id="na-mapbox-id" name="na-mapbox-id" value="undefined">
                                    <input type="hidden" id="na-place-class" name="na-place-class" value="undefined">
                                    <input type="hidden" id="na-place-type" name="na-place-type" value="undefined">
                                    <input type="hidden" id="na-geo-type" name="na-geo-type" value="undefined">
                                    <input type="hidden" id="na-iso-3166-1" name="na-iso-3166-1" value="undefined">
                                    <input type="hidden" id="na-iso-3166-2" name="na-iso-3166-2" value="undefined">
                                    <input type="hidden" id="na-geo-type" name="na-geo-type" value="undefined">
                                </div>
                            </form>
                        </div>
                        <div id="dropdown">
                                <label for="ne-dropdown">Toponym: </label>
                                <div class="ne-dropdown">
                                    <select v-model="selected" v-on:change="addEdit(selected)">
                                        <option disabled value="">Select a toponym to edit</option>
                                        <option v-for="name in names" v-bind:key="name.id" >[[ name.name ]]</option>
                                    </select>
                                </div>
                                <span>OR</span>
                                <button id="add-name-btn" type="button" name="button" onclick="addName()">Add New</button>
                        </div>
                        <div id="new-edit">
                            <form action="/save_edit/" method="post">
                                {% csrf_token %}
                                <div class="ne-div">
                                    <label for="ne-inlang-multiselect">Toponym is used in which language(s):</label>
                                    <!-- <select class="inlang-multiselect" name="inLanguage" required> -->
                                    <select class="ne-inlang-multiselect" id="ne-inlang-multiselect" name="ne-inlang-multiselect" multiple="multiple" required>
                                        {% for language in languages %}
                                        <option value="{{ language.name }}">{{ language.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="ne-div">
                                    <label for="ne-fromlang-multiselect">Toponym is derived from which language(s)?:</label>
                                    <select class="ne-fromlang-multiselect" id="ne-fromlang-multiselect" name="ne-fromlang-multiselect" multiple="multiple" required>
                                        {% for language in languages %}
                                        <option value="{{ language.name }}">{{ language.name }}</option>
                                        {% endfor %}
                                    </select><br>
                                    <label for="ne-endonymDropdown">Endonym: </label>
                                    <select class="ne-endonymDropdown" id="ne-endonymDropdown" name="ne-endonym">
                                        <option value="True">True</option>
                                        <option value="False">False</option>
                                    </select><br>
                                    <label for="ne-content">Etymology:</label><br>
                                    <textarea id="ne-content" name="ne-content" rows="8" cols="80"></textarea>
                                </div>
                                <div class="ne-div">
                                    <label for="ne-reference">Reference(s):</label>
                                    <input type="url" class="ne-reference" name="ne-reference" placeholder="Enter URL">
                                </div>
                                <div class="ne-div" id="ne-button-div">
                                    <button type="submit">Submit</button>
                                </div>
                                <div>
                                    <input type="hidden" id="ne-tpnm-id" name="ne-tpnm-id" value="undefined">
                                    <input type="hidden" id="ne-article-name-id" name="ne-article-name-id" value="undefined">
                                    <input type="hidden" id="ne-name" name="ne-name">
                                </div>
                            </form>
                        <div class="spacer-div"></div>
                        </div>
                        <div id="new-name">
                            <form action="/save_name/" method="post">
                                {% csrf_token %}
                                <div class="nn-div">
                                    <label for="na-name">Toponym:</label>
                                    <input type="text" id="nn-name" name="nn-name" required>
                                </div>
                                <div class="nn-div">
                                    <label for="nn-inlang-multiselect">Which language(s) use this (exact) toponym?:</label>
                                    <!-- <select class="inlang-multiselect" name="inLanguage" required> -->
                                    <select class="nn-inlang-multiselect" id="nn-inlang-multiselect" name="nn-inlang-multiselect" multiple="multiple" required>
                                        {% for language in languages %}
                                        <option value="{{ language.name }}">{{ language.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="nn-div">
                                    <label for="nn-fromlang-multiselect">Toponym is derived from which language(s)?:</label>
                                    <select class="nn-fromlang-multiselect" id="nn-fromlang-multiselect" name="nn-fromlang-multiselect" multiple="multiple" required>
                                        {% for language in languages %}
                                        <option value="{{ language.name }}">{{ language.name }}</option>
                                        {% endfor %}
                                    </select><br>
                                    <label for="nn-endonymDropdown">Endonym: </label>
                                    <select class="nn-endonymDropdown" id="nn-endonymDropdown" name="nn-endonym">
                                        <option value="True">True</option>
                                        <option value="False">False</option>
                                    </select><br>
                                    <label for="nn-content">Etymology:</label><br>
                                    <textarea id="nn-content" name="nn-content" rows="8" cols="80"></textarea>
                                </div>
                                <div class="nn-div">
                                    <label for="nn-reference">Reference(s):</label>
                                    <input type="url" id="nn-reference" name="nn-reference" placeholder="Enter URL">
                                </div>
                                <div class="nn-div" id="nn-button-div">
                                    <button type="submit">Submit</button>
                                </div>
                                <div>
                                    <input type="hidden" id="nn-article-id" name="nn-article-id" value="undefined">
                                    <input type="hidden" id="nn-tpnm-id" name="nn-tpnm-id" value="undefined">
                                </div>
                            </form>
                        <div class="spacer-div"></div>
                        </div>
                    </div>
                    <div class="sidebar-content" id="history">
                        <div class="article-title"></div>
                        <div class="article-coordinates"></div>
                        <hr>
                        <div v-for="name in names">
                            <div class="history-name">
                                <div><h2 class="article-name">Edits for: [[ name.name ]]</h2></div>
                                <div v-for="edit in name.edits">
                                    <div class="article-box">
                                        <div class="history-div1">
                                            <div><h3 class="history-name">[[ name.name ]]</h3></div>
                                        </div>
                                        <div class="history-div2">
                                            <div><p class="history-username"></p>Submitted by: [[ edit.username ]]</div>
                                            <div><p class="history-datetime"></p>[[ edit.created ]]</div>
                                        </div>
                                        <div class="history-div3">
                                            <div class="history-content"><pre>[[ edit.content ]]</pre></div>
                                        </div>
                                        <div class="history-div4">
                                            <div><p class="history-fromLanguage"> Source language(s): [[ edit.from_language ]]</p></div>
                                            <div><p class="history-inLanguage">Used in: [[ edit.in_language ]]</p></div>
                                        </div>
                                        <div class="history-div5">
                                            <div class="history-endonym">Endonym: [[ edit.endonym ]]</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spacer-div"></div>
                    </div>
                </div>
            </div>
            <div id='map'>
                {% if user.is_authenticated %}
                <button id="marker-toggle" type="button" name="marker-toggle">Add Marker</button>
                {% endif %}
            </div>
            <pre id='features'></pre>
        </div>
    </div>
    <!-- Axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        // This is mapbox's public demo key, only using while testing
        mapboxgl.accessToken = 'pk.eyJ1IjoieWF4eDByIiwiYSI6ImNqdW9rYXd1ODBjbjg0NHA3emp4ZDZiZWgifQ.0KqNiYI2LlrzR1lNSFJ6IA';
        var csrfToken = '{% csrf_token %}';
    </script>

    <!-- Compiled from TypeScript -->
    <script src="{% static 'app_tpnm/js/mapApp.js' %}"></script>
    <script src="{% static 'app_tpnm/js/main.js' %}"></script>
</body>

</html>
